#divFrutas > img {
    cursor: pointer; 
  }
  
  .img-maca {  
    width: 60px;  
  }
      
  .img-laranja {  
    width: 60px;  
  }    
  
  .img-kiwi {  
    width: 60px;  
  }    
  
  .img-morango {  
    width: 40px;  
  }    
  
  .img-uva {  
    width: 80px;  
  }    
  
  .altura {  
    height: 100px;  
  }